* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #222;
  overflow: hidden;
}

header {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #555;
}

#original {
  padding: 1rem;
  color: #fff;
  text-decoration: none;
}
#original:hover {
  color: orange;
}

p {
  padding: 1rem 1rem 0 1rem;
  line-height: 1.5;
  color: #555;
}

.bubble {
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.bubble-small {
  background: orange;
  width: 6px;
  height: 6px;
}
.bubble-small-contacting {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.bubble-big {
  border: 1px solid orange;
  width: 28px;
  height: 28px;
}
.bubble-big-contacting {
  opacity: 0.5;
}

.printer {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  min-height: 3rem;
}
.printer #printer {
  text-decoration: none;
}
.printer #printer:before {
  content: "> ";
  color: #555;
}
.printer__blink {
  font-weight: bold;
  padding: 0;
  -webkit-animation: blink 0.8s step-end infinite;
          animation: blink 0.8s step-end infinite;
}
@-webkit-keyframes blink {
  0% {
    color: #555;
  }
  50% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
}
@keyframes blink {
  0% {
    color: #555;
  }
  50% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
}
.printer__phrase-1 {
  color: orange;
}
.printer__phrase-2 {
  color: magenta;
}
.printer__phrase-3 {
  color: green;
}
.printer__phrase-4 {
  color: white;
}
.printer__phrase-hover-1:hover {
  color: orange;
}
.printer__phrase-hover-2:hover {
  color: magenta;
}
.printer__phrase-hover-3:hover {
  color: green;
}
.printer__phrase-hover-4:hover {
  color: white;
}