.bubble {
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    &-small {
        background: $color-1;
        width: 6px;
        height: 6px;

        &-contacting {
            width: 20px;
            height: 20px;
            opacity: 0.2;
        }
    }

    &-big {
        border: 1px solid $color-1;
        width: 28px;
        height: 28px;

        &-contacting {
            opacity: 0.5;
        }
    }
}