* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: $color-dark;
    overflow: hidden;
}

header {
    padding: 1.5rem 1rem;
    // margin-bottom: 1rem;
    border-bottom: 1px solid $color-medium;
}

#original {
    padding: 1rem;
    color: $color-light;
    text-decoration: none;

    &:hover {
        color: $color-1;
    }
}

p {
    padding: 1rem 1rem 0 1rem;
    line-height: 1.5;
    color: $color-medium;
}